
@{
    ViewData["Title"] = "Login Paciente";
}

<head>
    <link rel="stylesheet" href="~/css/loginStyle.css" />
</head>


<body style="background-image: url(https://gacetadental.com/wp-content/uploads/2019/09/dentista-paciente-1280x720.jpg) ; background-size:cover;">
    <div style="margin-top:230px;margin-left:-1100px;">
        <form action="/auth/login" method="post" class="form-register">
            <div class="text-center">
                <img src="~/images/iso.png" width="270" height="39" style="margin-top:-7px; margin-bottom:25px;" />
            </div>
            <span>@Html.ValidationMessage("Login")</span>

            <input class="controls" type="text" name="Username" id="nombres" placeholder="Usuario" />
            <br />
            <input class="controls" type="password" name="Password" id="correo" placeholder="Contraseña" />
            <br />
            <div class="text-center">
                <button class="botons" type="submit" style="margin-bottom:-2px; margin-top:8px;border-radius:15px; width:150px;">Aceptar</button>
            </div>
        </form>
    </div>
</body>

