
<!doctype html>
<html lang="es-pe">
<head>

    <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon" />
    <title class="bg-dark">Dentoweb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />

</head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">



    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header style="margin-left:0px" class="site-navbar light js-sticky-header site-navbar-target wow fadeInUp" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <div style="margin-left:-370px; margin-top:30px; ">
                            <img style="margin-top:-30px" src="~/images/icon.png" alt="[Ícono DentoWeb]" width="26" height="26" />
                        </div>
                        <div style="margin-left:-340px; margin-top:-49px;" class="mb-0 site-logo "><a data-scroll href="#home" class="mb-0" style="color: rgb(60,145,240); font-size:30px">Dento</a><a data-scroll href="#home" class="mb-0" style="color: rgb(128, 128, 128);font-size:30px">Web</a><span class="text-primary">.</span> </div>
                    </div>

                    <div class="col-12 col-md-20 d-none d-xl-block" style="margin-top:-60px;">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="/Cliente/Create" class="nav-active" style="-webkit-text-fill-color: RGB(60,145,240);"><strong>Regístrate</strong></a></li>
                                <li style="color: RGB(60,145,240);">|</li>
                                <li><a data-scroll href="#servicios" class="nav-link" style="-webkit-text-fill-color: RGB(60,145,240);"><strong>Servicios</strong></a></li>
                                <li style="color: RGB(60,145,240);">|</li>
                                <li><a data-scroll href="#personal" class="nav-link" style="-webkit-text-fill-color: RGB(60,145,240);"><strong>Personal</strong></a></li>
                                <li style="color: RGB(60,145,240);">|</li>
                                <li><a data-scroll href="#nosotros" class="nav-link" style="-webkit-text-fill-color: RGB(60,145,240);"><strong>Acerca de nosotros</strong></a></li>
                                <li style="color: RGB(60,145,240);">|</li>
                                <li><a data-scroll href="#novedades" class="nav-link" style="-webkit-text-fill-color: RGB(60,145,240);"><strong>Novedades</strong></a></li>

                                <li class="has-children" style="margin-left:80px; margin-right:100px">
                                    <a href="#" class="nav-link" style="-webkit-text-fill-color: RGB(60,145,240);"><strong>Iniciar Sesión</strong></a>
                                    <ul class="dropdown">
                                        <li><a class="nav-link" href="/Auth/Login">Paciente</a></li>
                                        <li><a class="nav-link" href="/Auth/LoginDoctor">Doctor</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>

                    </div>


                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>

                </div>
            </div>

        </header>



        @RenderBody()


        <footer class="site-footer bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Departments</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">X-Ray</a></li>
                            <li><a href="#">Children Care</a></li>
                            <li><a href="#">Eye Treatment</a></li>
                            <li><a href="#">Nose Treatment</a></li>
                            <li><a href="#">Surgery</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Our Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">X-Ray</a></li>
                            <li><a href="#">Children Care</a></li>
                            <li><a href="#">Eye Treatment</a></li>
                            <li><a href="#">Nose Treatment</a></li>
                            <li><a href="#">Surgery</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Navigation</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Customer Care</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Social</h2>
                        <div class="social mb-5">
                            <a href="#" class=""><span class="icon-facebook"></span></a>
                            <a href="#" class=""><span class="icon-twitter"></span></a>
                            <a href="#" class=""><span class="icon-linkedin"></span></a>
                            <a href="#" class=""><span class="icon-instagram"></span></a>
                        </div>


                        <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                        <form action="#" method="post" id="footer-subscribe" class="footer-subscribe">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control  bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-white text-black" type="button" id="button-addon2">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p class="copyright">
                                <small>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </small>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </footer>

    </div> <!-- .site-wrap -->

    <script src="~/js/jquery-3.3.1.min.js"></script>




    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>


    <script src="~/js/main.js"></script>

    <!-- Get patch fixes within a minor version -->
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>

    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            offset: 50,
            speed: 500
        });
    </script>


</body>
</html>



